body {
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1cb5e0,
    #000046
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1cb5e0,
    #000046
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media screen and (max-width: 1070px) {
  div {
    flex-direction: column;
  }
}

h1 {
  font-family: cursive;
  text-align: center;
  font-size: 2em;
  text-shadow: 2px 2px #1cb5e0;
  color: aliceblue;
  text-decoration: underline overline;
}

h2 {
  text-align: center;
  font-family: cursive;
  color: aliceblue;
  animation: mymove 2s infinite;
}

p {
  font-family: cursive;
  font-size: 1em;
  color: aliceblue;
}

div {
  display: inline-block;
  padding-left: 0.2em;
}

hr {
  color: aliceblue;
  width: 95%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer {
  padding-left: 5px;
  padding-right: 5px;
}

#mainDiv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#firstParagraph,  #secondParagraph, #thirdParagraph {
  word-wrap: break-word;
  height: 10em;
  width: 20em;
  border: solid aliceblue;
  padding: 0.5em;
}

#submit, #forgottenPassword {
  text-align: center;
  font-family: cursive;
  color: aliceblue;
  background-color: transparent;
  border-color: aliceblue;
  border-radius: 5px;
  width: 10em;
}

#submit:hover {
  box-shadow: 0 5px 20px 0 aliceblue, 0 3px 15px 0 aliceblue;
}

#forgottenPassword:hover {
  box-shadow: 0 5px 20px 0 aliceblue, 0 3px 15px 0 aliceblue;
}

@keyframes mymove {
  /*color transition of h2 text*/
  50% {
    color: rgb(201, 201, 201);
  }
}
